In [160]:
url= 'https://www.worldometers.info/coronavirus/' 
covid16_table = pd.read_html(url)
covid16_table = covid16_table[0].fillna('0')
covid16_table.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'Critical'},inplace = True) 
covid16_table.NewCases = covid16_table.NewCases.apply(lambda x: x.replace('+',''))
lat_long = pd.read_csv('latandlong.csv')
pop = pd.read_csv('pop.csv')
latlongpop = lat_long.merge(pop, on="Country")
final_table = latlongpop.merge(covid16_table, on="Country")
final_table['TotalRecovered'] = pd.to_numeric(final_table['TotalRecovered'])



final_table['Pct Affected of Pop'] = final_table['TotalCases'] / final_table['Population 2018'] * 100
final_table['Pct Recovered Cases'] = final_table['TotalRecovered'] / final_table['TotalCases'] * 100
final_table = final_table.round(2)
final_table.to_csv("static/images/covid16_table.csv")

In [4]:

import pandas as pd
import numpy as np

from flask import Flask, render_template
from flask import jsonify

In [105]:
url= 'https://www.worldometers.info/coronavirus/'
  
covid16_table = pd.read_html(url)
covid16_table = covid16_table[0].fillna('0')
covid16_table.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'Critical'},inplace = True) 
covid16_table.NewCases = covid16_table.NewCases.apply(lambda x: x.replace('+',''))
covid16_table

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,Tot Cases/1M pop
0,China,80796,18,3169,11,62826,14801,4257,56.1
1,Italy,15113,"2,651",1016,189,1258,12839,1153,250
2,Iran,10075,"1,075",429,75,3276,6370,0,120
3,S. Korea,7869,114,66,6,333,7470,54,153.5
4,Spain,3059,782,86,31,189,2784,190,65.4
...,...,...,...,...,...,...,...,...,...
122,St. Barth,1,0,0,0,0,1,0,0
123,St. Vincent Grenadines,1,0,0,0,0,1,0,0
124,Togo,1,0,0,0,0,1,0,0.1
125,Turkey,1,0,0,0,0,1,0,0
126,Total:,133086,6887,4949,332,68898,59239,5923,17.1

In [152]:
url= 'https://www.worldometers.info/coronavirus/' 
covid16_table = pd.read_html(url)
covid16_table = covid16_table[0].fillna('0')
covid16_table.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'Critical'},inplace = True) 
covid16_table.NewCases = covid16_table.NewCases.apply(lambda x: x.replace('+',''))
lat_long = pd.read_csv('latandlong.csv')
pop = pd.read_csv('pop.csv')
latlongpop = lat_long.merge(pop, on="Country")
final_table = latlongpop.merge(covid16_table, on="Country")
final_table['TotalRecovered'] = pd.to_numeric(final_table['TotalRecovered'])



final_table['Pct Affected of Pop'] = final_table['TotalCases'] / final_table['Population 2018'] * 100
final_table['Pct Recovered Cases'] = final_table['TotalRecovered'] / final_table['TotalCases'] * 100

final_table.to_csv("covid16_table.csv")

,Country,Code,latitude,longitude,Country Code,Population 2018,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,Tot Cases/1M pop,% Affected of Pop,% Recovered Cases
72,Nepal,NP,28.394857,84.124008,NPL,2.808787e+07,1,0,0,0,1.0,0,0,0,0.000004,100.000000
37,Gibraltar,GI,36.137741,-5.345374,GIB,3.371800e+04,1,0,0,0,1.0,0,0,0,0.002966,100.000000
22,China,CN,35.861660,104.195397,CHN,1.392730e+09,80796,18,3169,11,62826.0,14801,4257,56.1,0.005801,77.758800
88,Singapore,SG,1.352083,103.819836,SGP,5.638676e+06,187,9,0,0,96.0,91,12,32,0.003316,51.336898
74,Oman,OM,21.512583,55.923255,OMN,4.829483e+06,18,0,0,0,9.0,9,0,3.5,0.000373,50.000000
93,Thailand,TH,15.870032,100.992541,THA,6.942852e+07,70,11,1,0,35.0,34,1,1,0.000101,50.000000
97,Vietnam,VN,14.058324,108.277199,VNM,9.554040e+07,39,0,0,0,16.0,23,0,0.4,0.000041,41.025641
67,Mexico,MX,23.634501,-102.552784,MEX,1.261908e+08,12,1,0,0,4.0,8,1,0.1,0.000010,33.333333
30,Algeria,DZ,28.033886,1.659626,DZA,4.222843e+07,24,4,1,1,8.0,15,0,0.5,0.000057,33.333333
57,Sri Lanka,LK,7.873054,80.771797,LKA,2.167000e+07,3,1,0,0,1.0,2,0,0.1,0.000014,33.333333

In [164]:
# Top Countries % Affected by Population
sorted_affectpop = final_table.sort_values(by=['Pct Affected of Pop'], ascending=False).head(10)
sorted_affectpop = sorted_affectpop.set_index('Country')
sorted_affectpop

,Code,latitude,longitude,Country Code,Population 2018,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,Tot Cases/1M pop,Pct Affected of Pop,Pct Recovered Cases
Country,,,,,,,,,,,,,,,
San Marino,SM,43.94,12.46,SMR,3.378500e+04,69,0,3,0,0.0,66,3,0,0.20,0.00
Italy,IT,41.87,12.57,ITA,6.043128e+07,15113,"2,651",1016,189,1258.0,12839,1153,250,0.03,8.32
Iceland,IS,64.96,-19.02,ISL,3.535740e+05,109,24,0,0,0.0,109,0,0,0.03,0.00
Sweden,SE,60.13,18.64,SWE,1.018318e+07,683,183,1,0,1.0,681,2,67.6,0.01,0.15
Norway,NO,60.47,8.47,NOR,5.314336e+06,736,107,1,1,1.0,734,0,135.8,0.01,0.14
Spain,ES,40.46,-3.75,ESP,4.672375e+07,3059,782,86,31,189.0,2784,190,65.4,0.01,6.18
China,CN,35.86,104.20,CHN,1.392730e+09,80796,18,3169,11,62826.0,14801,4257,56.1,0.01,77.76
Switzerland,CH,46.82,8.23,CHE,8.516543e+06,868,216,7,3,4.0,857,0,100.3,0.01,0.46
Qatar,QA,25.35,51.18,QAT,2.781677e+06,262,0,0,0,0.0,262,0,90.9,0.01,0.00
Bahrain,BH,25.93,50.64,BHR,1.569439e+06,195,0,0,0,35.0,160,1,114.6,0.01,17.95

In [154]:
final_table.sort_values(by=['Pct Recovered Cases'], ascending=False).head(10)

,Country,Code,latitude,longitude,Country Code,Population 2018,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,Tot Cases/1M pop,Pct Affected of Pop,Pct Recovered Cases
72,Nepal,NP,28.394857,84.124008,NPL,2.808787e+07,1,0,0,0,1.0,0,0,0,0.000004,100.000000
37,Gibraltar,GI,36.137741,-5.345374,GIB,3.371800e+04,1,0,0,0,1.0,0,0,0,0.002966,100.000000
22,China,CN,35.861660,104.195397,CHN,1.392730e+09,80796,18,3169,11,62826.0,14801,4257,56.1,0.005801,77.758800
88,Singapore,SG,1.352083,103.819836,SGP,5.638676e+06,187,9,0,0,96.0,91,12,32,0.003316,51.336898
74,Oman,OM,21.512583,55.923255,OMN,4.829483e+06,18,0,0,0,9.0,9,0,3.5,0.000373,50.000000
93,Thailand,TH,15.870032,100.992541,THA,6.942852e+07,70,11,1,0,35.0,34,1,1,0.000101,50.000000
97,Vietnam,VN,14.058324,108.277199,VNM,9.554040e+07,39,0,0,0,16.0,23,0,0.4,0.000041,41.025641
67,Mexico,MX,23.634501,-102.552784,MEX,1.261908e+08,12,1,0,0,4.0,8,1,0.1,0.000010,33.333333
30,Algeria,DZ,28.033886,1.659626,DZA,4.222843e+07,24,4,1,1,8.0,15,0,0.5,0.000057,33.333333
57,Sri Lanka,LK,7.873054,80.771797,LKA,2.167000e+07,3,1,0,0,1.0,2,0,0.1,0.000014,33.333333

In [150]:

final_table[final_table['Country'] == "China"].iloc[:,14:17]

    % Affected of Pop  % Recovered Cases
22           0.005801            77.7588

In [43]:
population['Population'] = population['Population']

In [44]:
merged = covid16_table.merge(population, on="Country")

In [49]:
merged = merged.merge(lat_long, on="Country")

In [50]:
merged

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Critical,Tot Cases/1M pop,Population_x,Population_y,Lat,Long
0,China,80796,18,3169,11,62826,14801,4257,56.1,1 439 324,1 439 324,30.9756,112.2707
1,China,80796,18,3169,11,62826,14801,4257,56.1,1 439 324,1 439 324,23.3417,113.4244
2,China,80796,18,3169,11,62826,14801,4257,56.1,1 439 324,1 439 324,33.8820,113.6140
3,China,80796,18,3169,11,62826,14801,4257,56.1,1 439 324,1 439 324,29.1832,120.0934
4,China,80796,18,3169,11,62826,14801,4257,56.1,1 439 324,1 439 324,27.6104,111.7088
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Ukraine,1,0,0,0,0,1,0,0,43 734,43 734,48.3794,31.1656
140,Bhutan,1,0,0,0,0,1,0,0,772,772,27.5142,90.4336
141,Mongolia,1,0,0,0,0,1,0,0.3,3 278,3 278,46.8625,103.8467
142,Togo,1,0,0,0,0,1,0,0.1,8 279,8 279,8.6195,0.8248
143,Turkey,1,0,0,0,0,1,0,0,84 339,84 339,38.9637,35.2433

In [161]:
info_mongodbpairs = pd.read_csv('images/covid16_table.csv')
info_mongodbpairs = info_mongodbpairs.iloc[:,1:]
list_of_dicts = []
info_mongodbpairs = info_mongodbpairs.transpose() 
info_mongodbpairs = info_mongodbpairs.to_dict()
list_of_dics = [value for value in info_mongodbpairs.values()]
list_of_dics

FileNotFoundError: [Errno 2] File b'images/covid16_table.csv' does not exist: b'images/covid16_table.csv'